.app-bar {
    border-bottom: 1px solid var(--gray-200, #EAECF0);

    h3.title {
        color: #000;
        font-size: 2.4rem;
        line-height: 100%;
        font-weight: 700;
        font-family: 'Inter';
    }

    img.avatar {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        object-fit: cover;
        background-color: #101828;
    }

    div.actions {
        gap: 24px;
    }

    div.menu {
        flex: 1;
    }
}