.horizontal-calendar-title {
    color: var(--gray-900, #101828);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.horizontal-calendar {
    width: 100%;
    gap: 16px;
    overflow: hidden;
    overflow-x: auto;

    & > h4 {
        display: block;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    & > .custom-button {
        padding: 10px 16px;
        border-radius: 8px;
        border: 1px solid var(--gray-300, #D0D5DD);
        background: var(--base-white, #FFF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        cursor: pointer;

        &.day-card {
            color: var(--gray-700, #344054);
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 142.857%;

            &.active {
                border: 1px solid #3F5BF6;
                background: #3F5BF6;
                color: #fff;

                &:hover {
                    background-color: #3F5BF6;
                    border-color: #3F5BF6;
                }
            }
        
            &:hover {
                background-color: transparent;
                border-color: var(--gray-300, #D0D5DD);
            }
        }
    }
}