@keyframes td-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes td-fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes td-slideup {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes td-slidedown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}