.app-content {
    gap: 20px;
    font-size: 1.4rem;

    .todo-content-container {
        flex: 3;
        border-right: 1px solid #EAECF0;
        padding-right: 20px;
    }

    .todo-actions-container {
        flex: 1;
        min-width: 440px;
        padding: 20px 24px;
        border-radius: 8px;
        border: 1px solid var(--gray-100, #F2F4F7);
        background: var(--base-white, #FFF);
        box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
        overflow: hidden;
    }
}

.task-form {
    width: 100%;

    &__header {
        h3 {
            color: var(--gray-900, #101828);
            font-family: "Work Sans";
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: 155.556%;
        }
    }

    &>.date-time-inputs {
        gap: 16px;

        input.custom-input {
            flex: 1;

            &:first-child {
                min-width: 150px;
            }
        }
    }

    .reminder-tile {
        gap: 16px;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: 'Inter';
        color: var(--gray-500);

        .bellIcon {
            height: 16px;
            width: 16px;
            fill: #667085;
        }

        .close {
            svg {
                height: 16px;
                width: 16px;
            }
        }
    }

    .actions {
        gap: 16px;

        .custom-button {
            flex: 1;
        }
    }
}

.view-task {
    width: 100%;

    h3 {
        color: var(--gray-900, #101828);
        font-family: "Work Sans";
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 155.556%;
        text-transform: capitalize;
    }

    &__details {
        &>div {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        span {
            color: var(--foundation-grey-normal, #272727);
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;

            &.time-range {
                text-transform: uppercase;
            }
        }
    }

    &__actions {
        gap: 16px;

        button {
            flex: 1;
        }
    }
}


@media only screen and (max-width: 768px) {
    .app-content {
        .todo-content-container {
            padding-right: 0;
            border-right: none;
        }
    }

    .task-form {
        &>.date-time-inputs {
            gap: 8px;
        }
    }
}