@import '~bootstrap/scss/bootstrap';

:root {
  --primary-color: #3F5BF6;
  --gray-100: #F2F4F7;
  --gray-200: #EAECF0;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-900: #101828;
  --base-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

html, body {
  font-size: 62.5%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
